<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/footer.css" />
</head>

<footer>
  <div class="footer-wrapper">
    <div class="footer-text">
      <div class="footer-icon">
        <img src="/img/petlogo.png " alt="Logo da petvet" /><i
          class="logopet"
        ></i>
      </div>
      <p>
        "Este serviço não se trata de uma consulta e, por isso, não
        substitui 
        o atendimento presencial, não fornece 
        diagnósticos e não prescreve medicamentos. 
        Seu intuito é apenas o de
        fornecer orientações a seus usuários."
      </p>
    </div>
    <nav class="nav-footer">
      <ul Class="footer-contact">
        <li><a href="TrabalheConosco.html">Trabalhe Conosco</a></li>
        <li><a href="Contato.html">Contato</a></li>
        <li><a href="Termosdeuso.html">Termos de uso</a></li>
      </ul>
      <ul class="midias">
        <li>
          <a href="#"
            ><img src="/img/facelogo.png" width="42px;" />
            <i class="facelogo"></i>
          </a>
        </li>
        <li>
          <a href="#"
            ><img src="/img/TTlogo.png" width="42px;" /> <i class="TTlogo"></i>
          </a>
        </li>
        <li>
          <a href="#"
            ><img src="/img/youlogo.png" width="45px;" />
            <i class="youlogo"></i>
          </a>
        </li>
        <li>
          <a href="#"
            ><img src="/img/Instalogo.png" width="42px;" />
            <i class="instalogo"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
