<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style2.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <%- include('./partials/header') %>
    <!--Card pets -->
    <div class="lista-pets">
        <h1>Pets Cadastrados</h1>
        <div class="row">
            <div class="card">
                <img class="image" src="img/pet.jpg" alt="money" />
                <h2>Nome Pet</h2>
                <p>Raça</p>
                <p>Idade</p>
                <a class="button" href="#" target="_blank">Detalhe</a> 
            </div>

            <div class="card">
                <img class="image" src="img/pet.jpg" alt="money" />
                <h2>Nome Pet</h2>
                <p>Raça</p>
                <p>Idade</p>
                <a class="button" href="#" target="_blank">Detalhe</a> 
            </div>

            <div class="card">
                <img class="image" src="img/pet.jpg" alt="money" />
                <h2>Nome Pet</h2>
                <p>Raça</p>
                <p>Idade</p>
                <a class="button" href="#" target="_blank">Detalhe</a> 
            </div>
        </div>
    </div>
    <!--FIM - Card pets -->

    <!--Lista de Consultas-->
    <div  class="listaconsultas">
        <div>
            <h1>Lista de Consultas</h1>
        </div>       
        <table>
            <tr>
                <th>Pet</th>
                <th>Data</th>
                <th>Médico</th>
                <th>Especialidade</th>
                <th></th>
            </tr>
            <tr>
                <td>Tião</td>
                <td>06/03/2022</td>
                <td>Gustavo Cortes</td>
                <td>Geral</td>
                <td><a class="button" href="#" target="_blank">Detalhe</a></td> 
            </tr>
            <tr>
                <td>Tião</td>
                <td>06/03/2022</td>
                <td>Gustavo Cortes</td>
                <td>Geral</td>
                <td><a class="button" href="#" target="_blank">Detalhe</a></td> 
            </tr>
            <tr>
                <td>Tião</td>
                <td>06/03/2022</td>
                <td>Gustavo Cortes</td>
                <td>Geral</td>
                <td><a class="button" href="#" target="_blank">Detalhe</a></td> 
            </tr>
            <tr>
                <td>Tião</td>
                <td>06/03/2022</td>
                <td>Gustavo Cortes</td>
                <td>Geral</td>
                <td><a class="button" href="#" target="_blank">Detalhe</a></td> 
            </tr>



        </table>
    </div>
    <!--FIM - Lista de Consultas-->

    <%- include('./partials/footer') %>

</body>

</html>