footer {
  background-color: hsl(137, 100%, 81%);
  color: black;
  margin-top: 40px;
  width: 100%;
  display: flex;
  border-radius: 6px;
}

.footer-wrapper {
  margin: 0 auto;
  height: 140px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  max-width: 1024px;
  width: 100%;
}

.footer-icon {
  margin: 0 auto;
  display: flex;
}

.footer-icon img {
  height: 140px;
}

.footer-text {
  display: flex;
  font-size: 12px;
  align-items: center;
}

.footer-text p {
  width: 240px;
  text-align: justify;
}

.footer-contact {
  list-style: none;
  justify-content: space-around;
  display: flex;
  margin: 0;
  padding: 0;
  height: inherit;
  flex-direction: column;
  text-decoration: none;
}

.nav-footer {
  display: flex;
}

.midias {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  gap: 25px;
}
