* {
  margin: 0;
}

header {
  background-color: hsl(137, 100%, 81%);
  color: black;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  height: 75px;
  justify-content: space-between;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.itens {
  color: black;
  list-style: none;
  display: flex;
  font-size: 18px;
  gap: 50px;
  text-decoration: none;
}

.itens li {
  margin: 50px;
}
