*{
  margin: 0;
}

header{
  
    background-color: hsl(137, 100%, 81%);
    color: black;
    font-family:'Open Sans', sans-serif; 
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    height: 75px;
   
  }
  a{
    text-decoration: none;
    color: black;
    
  }

.interactions{
  color: black;
  list-style: none;
  display: flex;
  font-size: 18px;
  gap: 50px;
  text-decoration: none; 
  
}