*{
  margin: 0;
}

header{
  
    background-color: hsl(137, 100%, 81%);
    color: black;
    font-family:'Open Sans', sans-serif; 
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    height: 75px;
   
  }

nav{  text-decoration: none;

}

.interactions{
  color: black;
  list-style: none;
  text-decoration: none;
  display: flex;
  text-align: center;
}