*{
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  min-height: 100vw;
  min-width: 100vw;
}

footer{
  background-color: hsl(137, 100%, 77%);
  color: black;
  height: auto;
  width: 100vw;
  font-family:'Open Sans', sans-serif; 
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  max-width: 100vw;
  height: 220px;
justify-content: space-between;
}

.footer-icon{
  max-width: 100%;
  max-width: 880px;
  margin: 0 auto;
}
.footer-text{display: flex;

}
.footer-text p
{ 
  font-size: 19px;
  max-width: 100%;

}
.footer-contact{
  list-style: none;
  text-decoration: none;
  max-width: 100%;

}
a{
  text-decoration: none;
  color: black;
  max-width: 100%;
  text-align: center;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  width: 80%;
}

.midias{
  display: flex;
  list-style: none;
  max-width: 100%;
  gap: 25px;


  
}